* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header {
    width: 100%;
    display: flex;
    background-color: yellowgreen;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}

.header h3 {
    margin-left: 10px;
}

.header .menu {
    padding: 5px;
}

.header .menu .line {
    width: 15px;
    height: 1px;
    background-color: white;
    position: relative;
    transition: .3s;
}

.header .menu .line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: -4px;
    transition: .4s;
}

.header .menu .line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    bottom: -4px;
    transition: .4s;
}

label .btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.toggle:checked + .label .btn .line {
    background-color: transparent;
}

.toggle:checked + .label .btn .line::before {
    transform: rotate(315deg);
    top: 0;
}
.toggle:checked + .label .btn .line::after {
    transform: rotate(-315deg);
    bottom: 0;
}

.navigation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 100%;
    background-color: turquoise;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navigation .navlist {
    width: 200px;
    text-align: center;
    list-style: none;
}

.navigation .navlist li {
    padding: 10px 0;
    width: 100%;
    margin: .5rem;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.navigation .navlist li p {
    position: relative;
    z-index: 30;
}

.navigation .navlist li::before {
    content: "";
    width: 80%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 120%;
    top: 0;
    transition: .4s ease;
    transform: skew(-30deg);
}

.navigation .navlist li:hover {
    color: turquoise;
    cursor: pointer;
}

.navigation .navlist li:hover::before {
    right: 20px;
}

.toggle:checked ~ .navigation {
    left: 0;
}